apiVersion: v2
name: litefunctions 
description: A Helm chart for Kubernetes
type: application
version: 0.1.3
appVersion: "1.16.0"

dependencies:
- name: nats
  version: 2.12.3
  repository: https://nats-io.github.io/k8s/helm/charts
  condition: nats.enabled
- name: valkey-cluster
  version: 3.0.24
  repository: oci://registry-1.docker.io/bitnamicharts
  condition: redis.enabled
- name: pgo
  version: 5.8.1
  repository: oci://registry-1.docker.io/ashupednekar535
  condition: database.enabled
- name: minio
  version: 17.0.2
  repository: https://charts.bitnami.com/bitnami
  condition: minio.enabled
- name: gitea
  repository: https://dl.gitea.com/charts/
  version: 12.4.0
  condition: gitea.enabled
- name: actions
  repository: https://dl.gitea.com/charts/
  version: 0.0.2
  condition: gitea.enabled
- name: zot
  repository: http://zotregistry.dev/helm-charts
  version: 0.1.97
  condition: gitea.enabled

