istio:
  enabled: false

images:
  ingestor: ashupednekar535/litefunctions-ingestor:latest
  operator: ashupednekar535/litefunctions-operator:latest
  portal: ashupednekar535/litefunctions-portal:latest

operator:
  registry: localhost:30050
  registry_user: ashudev
  deprovision_duration: 2m
  keep_warm_duration: 5m
  service:
    type: ClusterIP
  #NOTE: rest are defaulting in operator manager settings, add here if needed

ingestor:
  service:
    type: NodePort
  nats_url: litefunctions-nats:4222

nats:
  enabled: true
  natsBox:
    enabled: false
  config:
    cluster:
      enabled: true
      replicas: 3
    jetstream:
      enabled: true
      fileStore:
        enabled: true
        pvc:
          enabled: true
          size: 4Gi
    reloader:
      enabled: false
 

database:
  enabled: true
  postgresVersion: 16
  pgBouncerReplicas: 1
  instanceReplicas: 2
  instanceVolumeSize: 4Gi
  initialSchemas:
    - gitea
    - litefunctions

minio:
  enabled: false
  global:
    security:
      allowInsecureImages: true
  image:
    repository: bitnamilegacy/minio
  auth:
    rootUser: ashudev
    rootPassword: minioadmin
  mode: standalone
  defaultBuckets: content
  persistence:
    enabled: true
    size: 15Gi
  ingress:
    enabled: true
    ingressClassName: nginx
    hostname: lws.ashudev.in # override 
    path: /content
    pathType: Prefix
    tls: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
  console:
    enabled: true
    image:
      repository: bitnamilegacy/minio-object-browser
    ingress:
      enabled: false
      ingressClassName: nginx
      hostname: s3.ashudev.in # override
      path: /
      pathType: Prefix
      tls: true
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt

valkey-cluster:
  enabled: true
  global:
    security:
      allowInsecureImages: true
  auth:
    enabled: true
  password: valkeyadmin
  image:
    repository: bitnamilegacy/valkey-cluster

gitea:
  enabled: true
  service:
    http:
      type: NodePort
      nodePort: 30080
    ssh:
      type: NodePort
      nodePort: 30022
  postgresql-ha:
    enabled: false
  postgresql:
    enabled: false
  valkey-cluster:
    enabled: false
  gitea:
    admin:
      username: ashudev
      password: gitadmin
      email: gitea@ashudev.in
    config:
      actions:
        enabled: true
      packages:
        enabled: true
      server:
        ROOT_URL: "http://litefunctions-gitea-http.litefunctions.svc.cluster.local:3000/"
        DOMAIN: "litefunctions-gitea-http.litefunctions.svc.cluster.local"
      registry:
        enabled: false
      database:
        DB_TYPE: postgres
        NAME: litefunctions
        SCHEMA: gitea
        SSL_MODE: require
        HOST: "litefunctions-pgbouncer.litefunctions.svc"
    additionalConfigFromEnvs:
    - name: GITEA__DATABASE__HOST
      valueFrom:
        secretKeyRef:
          key: host
          name: litefunctions-pguser-litefunctions
    - name: GITEA__DATABASE__PASSWD
      valueFrom:
       secretKeyRef:
         key: password
         name: litefunctions-pguser-litefunctions
    - name: GITEA__DATABASE__NAME
      valueFrom:
        secretKeyRef:
          key: dbname
          name: litefunctions-pguser-litefunctions
    - name: GITEA__DATABASE__USER
      valueFrom:
        secretKeyRef:
          key: user
          name: litefunctions-pguser-litefunctions
    ingress:
     enabled: false
     tls: []
     hosts:
     - host: git.ashudev.in
       paths:
       - path: /
     className: nginx
     annotations:
       cert-manager.io/cluster-issuer: letsencrypt

actions:
  enabled: true
  giteaRootURL: http://litefunctions-gitea-http:3000
  existingSecret: litefunctions-registration-token
  existingSecretKey: token

zot:
  service:
    nodePort: 30050

ui:
  enabled: true
  replicas: 1
  service:
    type: ClusterIP
    nodePort: 30003
  db:
    secret: litefunctions-pguser-litefunctions
    key: pgbouncer-uri
  vcs:
    baseUrl: http://litefunctions-gitea-http:3000
    secret: litefunctions-admin-token
    key: token
  domain: floatier-finnegan-stumblingly.ngrok-free.dev
  ngrok:
    secret: litefunctions-ngrok-secret
    key: token
  ingress:
    enabled: false
    host: localhost
    issuer: letsencrypt
