images:
  ingestor: ashupednekar535/litefunctions-ingestor:latest
  operator: ashupednekar535/litefunctions-operator:latest

ingestor:
  nats_broker_url: litefunctions-nats.essentials.svc:4222

nats:
  enabled: false
  natsBox:
    enabled: false
  config:
    cluster:
      enabled: true
      replicas: 3
    jetstream:
      enabled: true
      fileStore:
        enabled: true
        pvc:
          enabled: true
          size: 4Gi
    reloader:
      enabled: false

redis:
  enabled: false
redis-cluster:
  global:
    security:
      allowInsecureImages: true
  image:
    repository: bitnamilegacy/nats
  usePassword: false
  networkPolicy:
    enabled: false

database:
  enabled: false
postgrescluster:
  instanceName: postgres 
  postgresVersion: 16
  pgBouncerReplicas: 2 
  instanceReplicas: 3 

minio:
  enabled: false
  global:
    security:
      allowInsecureImages: true
  image:
    repository: bitnamilegacy/minio
  auth:
    rootUser: ashudev
    rootPassword: minioadmin
  mode: standalone
  defaultBuckets: content
  persistence:
    enabled: true
    storageClass: longhorn
    size: 15Gi
  ingress:
    enabled: true
    ingressClassName: nginx
    hostname: lws.ashudev.in # override 
    path: /content
    pathType: Prefix
    tls: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
  console:
    enabled: true
    image:
      repository: bitnamilegacy/minio-object-browser
    ingress:
      enabled: true
      ingressClassName: nginx
      hostname: s3.ashudev.in # override
      path: /
      pathType: Prefix
      tls: true
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt

