image:
  ingestor: ashupednekar535/litefunctions-ingestor:latest

ingestor:
  nats_broker_url: nats.essentials.svc:4222

nats:
  enabled: true
  jetstream:
    enabled: true
  cluster:
    enabled: true
  replicaCount: 5 
  auth:
    enabled: false
  persistence:
    enabled: true
  networkPolicy:
    enabled: false

redis:
  enabled: false
redis-cluster:
  usePassword: false
  networkPolicy:
    enabled: false

database:
  enabled: false
postgrescluster:
  instanceName: postgres 
  postgresVersion: 16
  pgBouncerReplicas: 2 
  instanceReplicas: 3 
  
minio:
  enabled: false
  auth:
    rootUser: lws 
    rootPassword: lwspass
  defaultBuckets: "content"
  networkPolicy:
    enabled: false
