{{- if .Values.gitea.enabled | default false }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "litefunctions.fullname" . }}-gitea-setup
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "2"
spec:
  template:
    spec:
      containers:
      serviceAccountName: {{ include "litefunctions.fullname" . }}-gitea-setup
      containers:
      - name: gitea-setup
        image: alpine:latest
        command:
        - sh
        - -c
        - >
{{`          apk add --no-cache curl jq kubectl &&
          until curl -f http://litefunctions-gitea-http:3000/api/v1/version; do sleep 20; done;
          TOKEN=$(curl -s -u ashudev:gitadmin -X POST http://litefunctions-gitea-http:3000/api/v1/users/ashudev/tokens -H "Content-Type: application/json" -d '{"name": "admin-token", "scopes": ["write:repository", "read:repository", "write:user", "write:admin", "write:package", "read:package"]}' | jq -r .sha1);
          if [ "$TOKEN" = "null" ] || [ -z "$TOKEN" ]; then exit 1; fi;
          kubectl patch secret litefunctions-admin-token --type json -p "[{\"op\": \"replace\", \"path\": \"/data/token\", \"value\": \"$(echo -n $TOKEN | base64)\"}]";
           REG_TOKEN=$(curl -H "Authorization: token $TOKEN" http://litefunctions-gitea-http:3000/api/v1/admin/runners/registration-token | jq -r .token);
          kubectl patch secret litefunctions-registration-token --type json -p "[{\"op\": \"replace\", \"path\": \"/data/token\", \"value\": \"$(echo -n $REG_TOKEN | base64)\"}]";
          curl -H "Authorization: token $TOKEN" -X PUT http://litefunctions-gitea-http:3000/api/v1/user/actions/secrets/GITEA_TOKEN -H "Content-Type: application/json" -d '{"data": "'$(echo -n $TOKEN | base64)'"}';
          curl -H "Authorization: token $TOKEN" -X PUT http://litefunctions-gitea-http:3000/api/v1/user/actions/secrets/GITEA_USER -H "Content-Type: application/json" -d '{"data": "YXNodWRldg=="}';
          sleep 5 && kubectl delete po litefunctions-actions-act-runner-0 --force
`}}
        env:
        - name: GITEA_APP_INI
          value: /data/gitea/conf/app.ini
        - name: GITEA_CUSTOM
          value: /data/gitea
        - name: GITEA_WORK_DIR
          value: /data
        - name: GITEA_TEMP
          value: /tmp/gitea
        - name: TMPDIR
          value: /tmp/gitea
        - name: HOME
          value: /data/gitea/git
        - name: KUBECONFIG
          value: ""
        - name: GITEA__server__PROTOCOL
          value: http
        - name: GITEA__server__DOMAIN
          value: litefunctions-gitea-http
        - name: GITEA__server__HTTP_PORT
          value: "3000"
        - name: GITEA__server__ROOT_URL
          value: http://litefunctions-gitea-http:3000
        - name: GITEA__server__LOCAL_ROOT_URL
          value: http://litefunctions-gitea-http:3000
        - name: GITEA__database__DB_TYPE
          value: postgres
        - name: GITEA__database__SCHEMA
          value: gitea
        - name: GITEA__database__SSL_MODE
          value: require
        - name: GITEA__database__HOST
          valueFrom:
            secretKeyRef:
              name: litefunctions-pguser-litefunctions
              key: host
        - name: GITEA__database__PASSWD
          valueFrom:
            secretKeyRef:
              name: litefunctions-pguser-litefunctions
              key: password
        - name: GITEA__database__NAME
          valueFrom:
            secretKeyRef:
              name: litefunctions-pguser-litefunctions
              key: dbname
        - name: GITEA__database__USER
          valueFrom:
            secretKeyRef:
              name: litefunctions-pguser-litefunctions
              key: user
        volumeMounts:
        - name: config
          mountPath: /tmp
        - name: data
          mountPath: /data
      volumes:
      - name: config
        emptyDir: {}
      - name: data
        persistentVolumeClaim:
          claimName: gitea-shared-storage
      restartPolicy: Never
{{- end }}
