apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: litefunctions-ingestor
  name: litefunctions-ingestor
  namespace: default
  resourceVersion: "49997"
  uid: f8f560d6-2d77-4e2d-ab1e-239d7dcdf2b6
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: litefunctions-ingestor
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: litefunctions-ingestor
    spec:
      containers:
      - image: {{.Values.image.ingestor}}
        imagePullPolicy: Always
        name: litefunctions-ingestor
        resources: {}
        env:
        - name: NATS_BROKER_URL
          value: 
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status: {}
