apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: litefunctions-ingestor
    {{- include "litefunctions.labels" . | nindent 4 }}
  name: {{ include "litefunctions.fullname" . }}-ingestor
  namespace: {{ .Release.Namespace }}
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: litefunctions-ingestor
      {{- include "litefunctions.selectorLabels" . | nindent 6 }}
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: litefunctions-ingestor
        {{- include "litefunctions.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - image: {{ .Values.images.ingestor }}
        imagePullPolicy: Always
        name: litefunctions-ingestor
        resources: {}
        env:
        - name: NATS_URL
          value: {{ .Values.ingestor.nats_url }}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30

