{{- if .Values.gitea.enabled | default false }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: registry
  name: registry
spec:
  replicas: 1
  selector:
    matchLabels:
      app: registry
  strategy: {}
  template:
    metadata:
      labels:
        app: registry
    spec:
      containers:
      - image: registry
        name: registry
        resources: {}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: registry
  name: registry
spec:
  ports:
  - name: 5000-30050
    port: 5000
    protocol: TCP
    targetPort: 30050
  selector:
    app: registry
  type: NodePort
---
{{- end}}
