[module]
  [[module.mounts]]
    source = "content"
    target = "content"

  [[module.mounts]]
    source = "data"
    target = "data"

  [[module.mounts]]
    source = "layouts"
    target = "layouts"

  [[module.mounts]]
    source = "assets"
    target = "assets"

  [[module.mounts]]
    source = "static"
    target = "static"

  [[module.mounts]]
    source = "images"
    target = "static/images"
